body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#app {
    margin: 50px auto;
    padding: 20px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#openButton {
    background-color: #28a745; /* Verde para Abrir */
}

#openButton:hover {
    background-color: #218838;
}

#closeButton {
    background-color: #dc3545; /* Rojo para Cerrar */
}

#closeButton:hover {
    background-color: #c82333;
}

#contractStatus {
    font-size: 16px;
    margin-top: 20px;
    font-style: italic;
    color: #333;
}
